body{
    background: linear-gradient(to right, #e6f2ff, #f2e6ff);
    margin:3px ;
    padding: 15px;
    font-size:18px ;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
}
table{
    margin: auto;
    border: solid;
    border-width: 5px;
    border-collapse: collapse;
}
th,td{
    border-right: solid;
    border-top: solid;
    padding: 8px;
    
}
.logout-button{
      justify-content: center;
    align-items: center;
}
    
