<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin Dashboard</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/dash.css">
    </head>
    <body>
        <h1>STUDENT RESULTS</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Visual</th>
                <th>Auditory</th>
                <th>Auditory_Digital</th>
                <th>Kinesthetic</th>
                <th>Dominant Style</th>
            </tr>
        {% for student in students %}
        <tr>
             <td>{{ student["user_name"] }}</td>
            <td>{{ student["email"] }}</td>
            <td>{{ student["visual"] }}</td>
            <td>{{ student["auditory"] }}</td>
            <td>{{ student["auditory_digital"] }}</td>
            <td>{{ student["kinesthetic"] }}</td>
            <td>{{ student["dominant_style"] }}</td>
        </tr>
        {% endfor %}

        </table>
    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Logout</button>
    </form>

    </body>
</html>
